node_modules
.env
*.db
*.db-journal
.DS_Store

# Python hack files - Gizlilik için
pbazgold_hack_gui.py
*.py
*.pyc
__pycache__/
*.spec
build/
sound_on.wav
sound_off.wav

# Python source kodları gizle
*.py
!pbazgold_hack_gui.py  # Bu dosyayı gizle
!server.js
!package.json