node_modules
.env
*.db
*.db-journal
.DS_Store

# Python hack files - Gizlilik için
*.pyc
__pycache__/
build/
sound_on.wav
sound_off.wav

# Python compiled files
dist/
*.spec

# Panda depo - ÖZEL KURAL: sadece panda-depo klasöründeki exe'ler dahil edilecek
panda-depo/**/*
!panda-depo/**/*.exe
!panda-depo/**/.gitkeep
!panda-depo/**/README.md